default:
  site: http://redmine.example.com
  interval: 300  # Crawl interval (default 60s * 5m = 300s)

# profile name - IRC user name or IRC login name
profile_name:
  site: http://redmine.example.com # Not required
  channels:
    ChannelName1: RedmineProjectId1
    ChannelName2: RedmineProjectId2
    ChannelName3: RedmineProjectId3
